body { font-family: 'Noto Serif KR', sans-serif; }
#exampleModal img { max-width: 100%; max-height: calc(100vh - 10rem); }
#exampleModal .modal-content { width: auto; margin: auto; }
@media (min-width: 576px) { .modal-dialog { max-width: calc(1920px + 2rem + 2px); } }
.dropdown-item em { color: gray; }
#mapid { height: 75vh; }
.carousel-control-prev, .carousel-control-next { opacity: 0; }
.home-columns .card-img-overlay { height: 100%; }
.home-columns .card-img-overlay:hover { background-color: rgba(0, 0, 0, 0.5); }
.home-columns .card-img-overlay h5 {
    position: absolute; top: 50%; transform: translateY(-50%); margin: 0 1.25rem 0 0;
    color: #ddd; font-weight: bold; text-shadow: black 0 0 1px;
}
.home-columns .card-img-overlay:hover h5 { color: white; }
.card-columns.home-columns { column-count: 2; }
@media (min-width: 576px) {
    .card-columns.home-columns {
        column-count: 4;
    }
}
