body { font-family: 'Noto Serif KR', sans-serif; }
#exampleModal img { max-width: 100%; max-height: calc(100vh - 10rem); }
#exampleModal .modal-content { width: auto; margin: auto; }
@media (min-width: 576px) { .modal-dialog { max-width: calc(1920px + 2rem + 2px); } }
.dropdown-item em { color: gray; }
#mapid { height: 75vh; }
.carousel-control-prev, .carousel-control-next { opacity: 0; }
.home-columns .card-img-overlay { height: 100%; padding: 0; }
.home-columns .card-img-overlay:hover { background-color: rgba(0, 0, 0, 0.5); }
.home-columns .card-img-overlay h5 {
    position: absolute; bottom: 0; padding: 1rem; margin: 0; width: 100%;
    color: #ccc; font-size: 1rem; font-weight: bold; text-align: center;
    background-color: rgba(0,0,0,0.5)
}
.home-columns .card-img-overlay:hover h5 {
    color: white; background-color: transparent; bottom: unset; top: 50%; transform: translateY(-50%);
}
.card-columns.home-columns { column-count: 2; }
@media (min-width: 576px) {
    .card-columns.home-columns {
        column-count: 4;
    }
}
