{{ partial "header.html" . }}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">{{ .Title }}</div>
            <img src="/images/2k/{{ .Params.img }}.jpg" class="card-img-top" alt="{{ .Title }}">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <h5 class="card-title">{{ .Title }}</h5>
                        <p class="card-text">{{ .Content }}</p>
                        {{ partial "dldropdown.html" . }}
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h5 class="card-title">Classements</h5>
                        {{ with .Params.lieux }}
                            <h6>Lieu :  {{ range . }}{{ with ($.Site.GetPage (printf "/lieux/%s" .)) }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}{{ end }}</h6>
                        {{ end }}
                        {{ with .Params.picdates }}
                            <h6>Date de prise de vue :  {{ range . }}{{ with ($.Site.GetPage (printf "/picdates/%s" .)) }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}{{ end }}</h6>
                        {{ end }}
                        {{ with .Params.ratio }}
                            <h6>Ratio :  {{ range . }}{{ with ($.Site.GetPage (printf "/ratio/%s" .)) }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}{{ end }}</h6>
                        {{ end }}
                        {{ with .Params.themes }}
                            <h6>Thèmes</h6>
                            <ul>
                                {{ range . }}{{ with ($.Site.GetPage (printf "/themes/%s" .)) }}
                                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                {{ end }}{{ end }}
                            </ul>
                        {{ end }}
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h5 class="card-title">Métadonnées (EXIF)</h5>
                        <p class="card-text"><strong>Date de prise de vue :</strong><br>{{ .Params.date.Format "2006-01-02 15:04:15 -0700" }}<br>
                            <strong>Vitesse :</strong> {{ .Params.speed }}<br>
                            <strong>Ouverture :</strong> f/{{ .Params.aperture }}<br>
                            <strong>Longueur focale :</strong> {{ .Params.focal }} mm<br>
                            <strong>Sensibilité :</strong> {{ .Params.iso }} ISO<br>
                            <strong>Largeur :</strong> {{ .Params.widthFull }} pixels<br>
                            <strong>Hauteur :</strong> {{ .Params.heightFull }} pixels<br>
                            <strong>Poids :</strong> {{ .Params.fileSizeFull }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col">
                        {{ with .PrevInSection }}
                        <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
                        {{ end }}
                    </div>
                    <div class="col text-right">
                        {{ with .NextInSection }}
                        <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
                        {{ end }}
                    </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
